body {
  background-color: lightblue;
  text-decoration: none;
}

h1 {
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid lightslategray;
  border-radius: 8px;
  padding: 0.7rem 9rem;
  margin: 0.2rem 3rem;
  font-size: 30px;
}

.hidden {
  display: none;
}

.logo {
  font-weight: 700;
}

.menu {
  display: flex;
  gap: 7rem;
}

#error {
  color: red;
  font-size: 25px;
  text-align: center;
}

table {
  width: 100%;
  border: 4px solid lightslategray;
  border-collapse: collapse;
}

td {
  width: 80%;
}

tr td {
  padding: 0.2rem;
  padding-block: 1%;
  font-size: 25px;
}

tr:nth-child(even) {
  background-color: lightpink;
}

td > .btnRemove {
  width: 100%;
  padding-block: 1%;
  padding-inline: 1%;
}

form {
  text-align: center;
  margin: 0 auto;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

form input[type='text'] {
  padding-inline: 5%;
  padding-block: 5%;
  font-size: 30px;
  border-radius: 8px;
}

form button[type='button'] {
  background: lightgoldenrodyellow;
  padding-inline: 5%;
  padding-block: 5%;
  border-radius: 12px;
}

button {
  background: lightgoldenrodyellow;
  font-size: 25px;
  font-weight: 800;
  border-radius: 12px;
}

button:hover {
  color: lightcoral;
  cursor: pointer;
}
